.customer-banner {
  background:
    linear-gradient(
      135deg,
      #0f1115,
      #1f2937,
      #55b532
    );

  color: white;

  border-radius: 28px;

  padding: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;

  overflow: hidden;
}

.customer-left h1 {
  font-size: 42px;
  margin: 10px 0;
}

.customer-left h1 span {
  color: #9ef172;
}

.customer-left p {
  max-width: 650px;
  opacity: .9;
  line-height: 1.8;
}

.customer-tag {
  background: rgba(255,255,255,.12);

  padding: 8px 14px;

  border-radius: 30px;

  font-size: 12px;

  letter-spacing: 1px;
}

.customer-right {
  display: flex;
  gap: 20px;
}

.banner-stat {
  background: rgba(255,255,255,.1);

  backdrop-filter: blur(8px);

  border-radius: 18px;

  padding: 20px;

  min-width: 120px;

  text-align: center;
}

.banner-stat h2 {
  margin: 0;
  font-size: 32px;
  color: #9ef172;
}

.banner-stat span {
  font-size: 13px;
}

@media(max-width: 900px) {
  .customer-banner {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .customer-right {
    width: 100%;
    justify-content: center;
  }
}