.progress-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  margin-top: 20px;
}

.progress-item {
  flex: 1;
  position: relative;
  text-align: center;
}

.progress-circle {
  width: 42px;
  height: 42px;

  margin: auto;

  border-radius: 50%;

  background: #e5e7eb;

  border: 3px solid #d1d5db;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
}

.progress-circle.completed {
  background: #55b532;
  border-color: #55b532;
  color: white;
}

.progress-circle.active {
  background: white;
  border-color: #55b532;

  box-shadow:
    0 0 0 6px rgba(85, 181, 50, .15);
}

.progress-label {
  display: block;
  margin-top: 12px;

  font-size: 13px;
  font-weight: 600;
}

.progress-line {
  position: absolute;

  top: 20px;
  left: 60%;

  width: 80%;
  height: 4px;

  background: #e5e7eb;

  z-index: -1;
}

.line-completed {
  background: #55b532;
}


.progress-circle.completed {
  background: #78b82a;
  color: white;
  border-color: #78b82a;
}






/* Hide on Desktop */

.mobile-progress {

  display: none;

}


/* Mobile */

@media (max-width:768px) {

  .progress-wrapper {

    display: none;

  }

  .mobile-progress {

    display: flex;

    flex-direction: column;

    gap: 10px;

    margin-top: 20px;

  }

  .mobile-progress-item {

    display: flex;

    align-items: center;

    justify-content: space-between;

    background: #fff;

    border: 1px solid #eef2f7;

    border-radius: 14px;

    padding: 14px 18px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, .05);

  }

  .mobile-progress-content {

    flex: 1;

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-left: 15px;

  }

  .mobile-stage-name {

    font-size: 15px;

    font-weight: 600;

    color: #1f2937;

  }

  .mobile-stage-status {

    font-size: 12px;

    font-weight: 700;

    padding: 6px 12px;

    border-radius: 999px;

    background: #f3f4f6;

    color: #6b7280;

  }

  .mobile-progress-icon {

    width: 34px;

    height: 34px;

    border-radius: 50%;

    display: flex;

    align-items: center;

    justify-content: center;

    font-weight: 700;

    background: #f3f4f6;

    color: #9ca3af;

  }

  .mobile-progress-icon.completed {

    background: #55b532;

    color: #fff;

  }

  .mobile-progress-icon.active {

    background: #fff;

    color: #55b532;

    border: 2px solid #55b532;

  }

  .mobile-stage-status.completed {

    background: #ecfdf5;

    color: #15803d;

  }

  .mobile-stage-status.active {

    background: #eef9e8;

    color: #55b532;

  }

}